# for special environments
MSYS2_ROOT=/mnt/d/msys64
D4J_JAVA_HOME=/usr/local/lib/jdk-11

# for remote inference
BASE_URL='the base URL of the API server'
API_KEY='the API key of OpenAI'

# for local inference
CUDA_VISIBLE_DEVICES=0,1
