# transformer
JVMPATH='the path to the libjvm.so (on Linux) or jvm.dll (on Windows)'
TSFM_CLASSPATH='the path to the jar package of the transformer'
STYLE_FILE='the path to the style file'

# translator
BASE_URL='the base URL of the API server'
API_KEY='the API key of OpenAI'

# local models
DEEPSEEKCODER_PATH='the root path to the DeepSeek models, where specific models are stored in direct subdirectories'
QWEN_PATH='the root path to the Qwen models, where specific models are stored in direct subdirectories'

# misc
LOG_FILE=logs/assessment/assessment.log
