# transformer
JVMPATH='the path to the libjvm.so (on Linux) or jvm.dll (on Windows)'
STYLEX_CLASSPATH='the path to the jar package of StyleX'
PICT_PATH='the path to the pict executable, or simply "pict" if in PATH'
STYLE_FILE='the path to the style file'

# OpenAI API
BASE_URL='the base URL of the API server'
API_KEY='the API key of OpenAI'

# local inference
CUDA_VISIBLE_DEVICES=0,1
DEEPSEEK_PATH='the root path to the DeepSeek models, where specific models are stored in direct subdirectories'
QWEN_PATH='the root path to the Qwen models, where specific models are stored in direct subdirectories'

# misc
LOG_FILE=logs/assessment/assessment.log
