# Manually downloaded data
data/*

# Generated things
logs/
targets/
results/
*.log

# Python
.mypy_cache/
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/

# MacOS
.DS_Store
