# Manually downloaded data
data/*
!data/xCodeEval/

# Logs
logs/

# Python
__pycache__/

# Generated Java classes
target/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/

# MacOS
.DS_Store
